<div class="side container">
    <div class="row table-responsive">
        <h5 class="text-center "> Commodities </h5>
        <table class="table table-sm table-striped">
            <tr>
                <th>Gold:</th>
                <td><a href="https://www.moneycontrol.com/commodity/gold-price.html" target="_blank">Click Here</a> </td>
            </tr>
            <tr class="">
                <th>Silver:</th>
                <td><a href="https://www.moneycontrol.com/commodity/silver-price.html" target="_blank" >Click Here</a></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h5 class="text-center"> Currencies</h5>
        <table class="table table-sm">
            <tr>
                <th>US$ :</th>
                <td><a href="https://instantforex.icicibank.com/instantforex/forms/MicroCardRateView.aspx" target="_blank" >Click Here</a></td>
            </tr>
            <tr>
                <th>EU€ : </th>
                <td><a href="https://instantforex.icicibank.com/instantforex/forms/MicroCardRateView.aspx" target="_blank" >Click Here</a></td>
            </tr>
            <tr>
                <th>CAD$:</th>
                <td><a href="https://instantforex.icicibank.com/instantforex/forms/MicroCardRateView.aspx" target="_blank" >Click Here</a></td>
            </tr>
        </table>
    </div>
</div>
